RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Options -Indexes
RedirectMatch 404 /\.git
ErrorDocument 404 https://omatproperties.com
ErrorDocument 403 https://omatproperties.com
